---
wireguard_PersistentKeepalive: 0
wireguard_config_path: "configs/{{ IP_subject_alt_name }}/wireguard/"
wireguard_pki_path: "{{ wireguard_config_path }}/.pki/"
wireguard_interface: wg0
wireguard_port_avoid: 53
wireguard_port_actual: 51820
keys_clean_all: false
wireguard_dns_servers: >-
  {% if ralgo_dns_adblocking|default(false)|bool or dns_encryption|default(false)|bool %}
  {{ local_service_ip }}
  {% else %}
  {% for host in dns_servers.ipv4 %}{{ host }}{% if not loop.last %},{% endif %}{% endfor %}
  {% endif %}
wireguard_client_ip: >-
  {{ wireguard_network_ipv4 | ipaddr(index|int+2) }}
wireguard_server_ip: >-
  {{ wireguard_network_ipv4 | ipaddr('1') }}
